$sa864db: #a864db;
$sdb64d3: #db64d3;
$sdb6498: #db6498;
$sdb6c64: #db6c64;
$sdba864: #dba864;
$sd3db64: #d3db64;
$s98db64: #98db64;
$s64db6b: #64db6b;
$s64dba7: #64dba7;
$s64d4db: #64d4db;
$s6498db: #6498db;
$s6b64db: #6b64db;